{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent"]
      }
    ],
    "import/default": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "parser": "@typescript-eslint/parser",
    "import/resolver": "typescript"
  },
  "plugins": ["react", "import", "@typescript-eslint"]
}
