@use '@utils/variables' as *;

.cart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-self: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}
