@import '~/sass/constants'
@import '~/sass/colors'
  
.ProductCard
  position: relative
  display: flex
  flex-direction: column
  width: 200px
  height: 200px
  padding: $padding
  background: darken($dark, 10)
  h4
    width: 100%
  .info
    width: 100%
  .price
    width: 60px
    font-size: 20px
    font-weight: 700
    text-align: center
    background: $primary
    margin-top: 40px