@import '../../../../../sass/config';
@import '../../../../../sass/colors';
@import '../../../../../sass/constants';

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: $padding;
  background: darken($dark, 5);
  border-radius: 20px;
  backface-visibility: hidden;
  transition: all 0.3s ease;

  @include desktop {
    width: 220px;
  }

  &:hover {
    box-shadow: 10px 10px 0 0 darken($dark, 20);
    transform: translate(-5px, -10px);
  }

  &.not-available {
    opacity: 0.3;
  }

  &.not-available:hover {
    box-shadow: none;
    transform: none;
  }

  h3 {
    text-transform: uppercase;
  }

  .info {
    margin-bottom: 40px;
    color: darken($light, 60);
  }

  .controls {
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
  }

  .controls > .price {
    padding: 5px;
    color: $secondary;
    font-weight: 700;
    text-align: center;
  }

  .controls > .currency {
    margin-left: 5px;
    font-weight: 500;
    opacity: 0.7;
  }

  .controls > button {
    padding: 5px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    font-style: inherit;
    white-space: nowrap;
    text-transform: uppercase;
    background: $primary;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  .controls > button:disabled {
    color: darken($dark, 10);
    font-size: 15px;
    background: lighten($dark, 10);
  }
}
