@import "../sass/config";

.scrollable {
  @include desktop {
    padding: 60px 60px 0;
  }

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  padding: 40px 30px 0;
  overflow: scroll;
}
